<h1>Listing artists</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<table>
  <tr>
    <th>Artist</th>
    <th></th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%= h artist.name %></td>
    <td><%= link_to 'Show', artist_path(artist) %></td>
  </tr>
<% end %>
</table>
